{
  "presets": ["@babel/env","@babel/react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-object-rest-spread"],
        ["@babel/plugin-transform-react-display-name"],
        ["@babel/plugin-proposal-export-default-from"],
        ["@babel/plugin-transform-react-jsx"],
        ["@babel/plugin-transform-react-jsx-source"],
         ["@babel/plugin-transform-react-jsx-self"],
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"]

          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    },
    "production": {
      "plugins": [
        ["transform-object-rest-spread"],
        ["@babel/plugin-transform-react-display-name"],
        ["@babel/plugin-proposal-export-default-from"],
        ["@babel/plugin-transform-react-jsx"],
        ["@babel/plugin-transform-react-jsx-source"],
         ["@babel/plugin-transform-react-jsx-self"],
      ]
    }
  }
}
